<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <form for="goal" @submit.prevent="addGoals">
        <input type="text" v-model="listValue" id="goal" ref="goalRef" />
        <button type="submit">Add Goal</button>
      </form>
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-else-if="goals.length > 0">
        <li v-for="(goal, index) in goals" :key="goal.id">
          {{index}} - {{goal}}
          <button @click="removeGoals(index)">삭제</button>
          <input type="text" />
        </li>
      </ul>
      <ul>
        <li v-for="(value, key) in test" :key="key">
          이름: {{value.name}} / 나이: {{value.age}}
        </li>
      </ul>
    </section>
  </body>
</html>
